.banner-name {
  margin-bottom: 56px !important;
  pointer-events: none;
}
.social-links {
  margin-top: 12px !important;
  position: relative;
  z-index: 2;
}
@media (max-width: 720px) {
  .banner-name {
    margin-bottom: 40px !important;
  }
}
