---
---

$link-base-color: #fdda24;
$link-visited-color: #fdda24;
$brand-color: #fdda24;

@import "minima";

a,
a:visited {
  color: $link-base-color;
}

a:hover,
a:focus {
  color: #fdda24;
}

.site-title,
.site-title:visited,
.site-nav .page-link,
.site-nav .page-link:visited,
.post-link,
.post-link:visited,
.footer-col a,
.footer-col a:visited {
  color: $link-base-color;
}
